<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->
<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>
    <header class="header">
        <img src="./images/location.png" class="header__image" alt="an image of a map and location">
        <h1 class="header__title">GeoTagApp</h1>
        <nav class="header__navigation">
            <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
        </nav>
    </header>

    <main class = "main row">
        <section class="main_tagging col-3">
            <h2>Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">

                <!-- ... your code here ... -->
                <fieldset name="Tagging-Formular">
                    <legend>Enter new tag</legend>
                    <div class="tag_formular">
                        <label>Latitude:
                            <input id="tag_latitude" value="<%= latitude %>" type="number" step=0.000001 name="latitude"> <!--readonly/disabled-->
                        </label>
                        <label>
                            Longitude:
                            <input id="tag_longitude" value="<%= longitude %>" type="number" step=0.000001 name="longitude">
                        </label>
                        <label>
                            Name:
                            <input id="name" type="text" name="name" placeholder="e.g. Central Berlin"
                                maxlength="10" required>
                        </label>
                        <label>
                            Hashtag:
                            <input id="hashtag" type="text" name="hashtag" placeholder="e. g. #ber"
                                pattern="^#[a-zA-Z]{1,10}">
                        </label>
                        <input id="addTag" type="submit" value="Add Tag">
                    </div>
                </fieldset>
                <!-- ... your code here ... -->

            </form>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="main_discovery col-9">
            <h2>Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                <!-- ... your code here ... -->
                <fieldset name="Discovery-Formular">
                    <legend>Search term or keywords</legend>
                    <div class = "discovery_formular">
                    <label id = "discovery_latitude" hidden>Latitude:</label>
                    <input id = "discovery_latitude_input" name="latitude" type="hidden" value="<%= latitude %>">

                    <label id = "discovery_longtitude" hidden>Longtitude:</label>
                    <input id = "discovery_longtitude_input" name="longitude" type="hidden" value="<%= longitude %>">

                    <input id="searchTerm" name="keyword" type="text" placeholder="e.g. Berlin">
                    
                    <input id= "search" type="submit" value="Search">
                    </div>
                </fieldset>
                <!-- ... your code here ... -->

            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper row">
                <ul class="discovery__results col-3" id="discovery__results_unorderedList" data-taglist = "<%= taglist %>">
                    <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                        <li> <%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                    <% }); %>
                </ul>

                <div class="discovery__map col-6">
                    <img src="./images/mapview.jpg" alt="a map with locations" id="mapView" data-tags="<%= stringTaglist %>"/>
                    <span>Result map</span>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <span id = "footer_text">(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>
    <!-- Load JavaScripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--load required class script before geotagging-->
    <script src="./javascripts/location-helper.js"></script>
    <script src="./javascripts/map-manager.js"></script>
    <script src="./javascripts/geotagging.js"></script>
</body>

</html>